body {
    background-image: url(https://th.bing.com/th/id/R.8f562353dbaf42f2ba07077e6d53bc90?rik=Otf4I18HZFrbQQ&pid=ImgRaw&r=0);
    background-size: 900px 700px;
    text-align: center;
    color:white;
    
  }